@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
}

#root {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
}

.login-container,
.signup-container,
.add-item-div {
    width: 400px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.35);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-height: 350px;
    padding: 25px;
    gap: 2rem;
    background-color: white;
}

.login-container div,
.signup-container div,
.add-item-div div {
    width: 100%;
    gap: 1rem;
}

.login-container label,
.signup-container label,
.add-item-div label {
    display: flex;
    width: 50%;
    font-size: 20px;
}

.login-container input,
.signup-container input,
.add-item-div input {
    width: 70%;
    border-radius: 5px;
    height: 30px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px;
}

.login-container button,
.signup-container button,
.inventory button,
.add-item-div button {
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    background-color: crimson;
    border: 1px solid rgba(128, 128, 128, 0.5);
    outline: none;
    color: white;
}

.login-container h1,
.signup-container h1,
.add-item-div h1 {
    border-bottom: 1px solid black;
    width: 100%;
}

.login-container .signup-message {
    color: blue;
}

.clickable:hover {
    cursor: pointer;
}


/* Inventory */

.inventory {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.inventory .header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.inventory .content-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}

.inventory .content-header {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.inventory .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


/* Item */

.inventory .content-details .item {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 25px;
    box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.445);
    border-radius: 12px;
    background-color: white;
}

.item .item-details {
    display: flex;
    width: 100%;
    gap: 20px;
}

.item img {
    width: 20%;
    height: 200px;
    object-fit: contain;
}

.item .info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info .name {
    font-weight: 600;
    font-size: 24px;
}

.item .remove {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.add-item-div .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}